@font-face {
    font-family: "PFDinTextPro-Regular"; 
    src: url(/src/fonts/PFDinTextPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "PFDinTextPro-Light"; 
    src: url(/src/fonts/PFDinTextPro-Light.ttf) format("truetype");
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "PFDinTextPro-Bold"; 
    src: url(/src/fonts/PFDinTextPro-Bold.ttf) format("truetype");
    font-weight: bold;
    font-display: swap;
}

body {
    font-family: "PFDinTextPro-Light", sans-serif;
    margin: 0;
    color: #171717;}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.top {
    background: url(/src/images/beach.jpg) no-repeat center;
    padding: 250px 0 200px;
}

.top__title {
    margin: 0 auto 80px;
    font-size: 48px;
    text-align: center;
}

.circles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circles__item {
    height: 370px;
    width: 370px;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.circles__icon {
    height: 85px;
    display: flex;
    align-items: flex-end;
}

.circles__img {
    display: block;
}

.circles__title {
    font-size: 28px;
    margin: 25px 0 20px;
}